[submodule "include/QtGigE"]
	path = include/QtGigE
	url = git@github.com:Stigaard/QtGigE.git
[submodule "include/qextserialport"]
	path = include/qextserialport
	url = https://code.google.com/p/qextserialport/
[submodule "include/qOpenGLCVWidget"]
	path = include/qOpenGLCVWidget
	url = git@github.com:Stigaard/qOpenGLCVWidget.git
[submodule "include/qtgpscWidget"]
	path = include/qtgpscWidget
	url = git@github.com:Stigaard/qtgpscWidget.git
[submodule "include/modicovi-rt"]
	path = include/modicovi-rt
	url = git@bitbucket.org:Stigaard/modicovi-rt.git
[submodule "include/BayerExG"]
	path = include/BayerExG
	url = git@github.com:Stigaard/BayerExG.git
[submodule "include/gpsReader"]
	path = include/gpsReader
	url = git@github.com:Stigaard/gpsReader.git
